@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Tulpen One 400";
    src: url('./assets/Tulpen\ One\ 400.ttf');
}
body {
    background-color: #EEEEEE;
    /* background: #e5e7eb; */
    min-height: 100vh;
}